h1 {
    color: var(--text-color);
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 1.1em;
    margin-bottom: 0.3em;
  }